/* src/styles/custom.css */
.offcanvas-body {
  background-color: #f5f5f5;
}

.filter-box-action {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.tableFilterButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.actionbuttons button.btn-primary {
  padding: 8px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actionbuttons button.btn-primary:hover {
  background-color: #115293;
}

.small-checkbox {
  transform: scale(0.8);
}

.small-font-label {
  font-size: 14px;
}